<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livebettips" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.livebettips.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.livebettips.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.livebettips.activities.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.livebettips.activities.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.livebettips.activities.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.livebettips.activities.PushedPredictions"
            android:label="@string/title_activity_predictions" >
        </activity>
        <activity
            android:name="com.livebettips.activities.PurchasedPredictions"
            android:label="@string/title_activity_purchased_predictions" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.livebettips.activities.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.livebettips" />
            </intent-filter>
        </receiver>

        <service android:name="com.livebettips.services.GcmIntentService" />

        <activity
            android:name="com.livebettips.activities.ShowPredictionDetail"
            android:label="@string/title_activity_prediction_detail" >
        </activity>
        <activity
            android:name="com.livebettips.activities.ContactUs"
            android:label="@string/title_activity_contact_us" >
        </activity>
    </application>

</manifest>
